.vscode/settings.json
lab/build/client
lab/build/cmake_install.cmake
lab/build/CMakeCache.txt
lab/build/libclient_header.a
lab/build/libserver_header.a
lab/build/Makefile
lab/build/server
lab/build/CMakeFiles/cmake.check_cache
lab/build/CMakeFiles/CMakeDirectoryInformation.cmake
lab/build/CMakeFiles/CMakeOutput.log
lab/build/CMakeFiles/Makefile.cmake
lab/build/CMakeFiles/Makefile2
lab/build/CMakeFiles/progress.marks
lab/build/CMakeFiles/TargetDirectories.txt
lab/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
lab/build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
lab/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
lab/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
lab/build/CMakeFiles/3.16.3/CMakeSystem.cmake
lab/build/CMakeFiles/3.16.3/CompilerIdC/a.out
lab/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
lab/build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
lab/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
lab/build/CMakeFiles/client.dir/build.make
lab/build/CMakeFiles/client.dir/cmake_clean.cmake
lab/build/CMakeFiles/client.dir/CXX.includecache
lab/build/CMakeFiles/client.dir/depend.internal
lab/build/CMakeFiles/client.dir/depend.make
lab/build/CMakeFiles/client.dir/DependInfo.cmake
lab/build/CMakeFiles/client.dir/flags.make
lab/build/CMakeFiles/client.dir/link.txt
lab/build/CMakeFiles/client.dir/progress.make
lab/build/CMakeFiles/client.dir/src/client_node.cpp.o
lab/build/CMakeFiles/client_header.dir/build.make
lab/build/CMakeFiles/client_header.dir/cmake_clean_target.cmake
lab/build/CMakeFiles/client_header.dir/cmake_clean.cmake
lab/build/CMakeFiles/client_header.dir/CXX.includecache
lab/build/CMakeFiles/client_header.dir/depend.internal
lab/build/CMakeFiles/client_header.dir/depend.make
lab/build/CMakeFiles/client_header.dir/DependInfo.cmake
lab/build/CMakeFiles/client_header.dir/flags.make
lab/build/CMakeFiles/client_header.dir/link.txt
lab/build/CMakeFiles/client_header.dir/progress.make
lab/build/CMakeFiles/client_header.dir/src/Client.cpp.o
lab/build/CMakeFiles/server.dir/build.make
lab/build/CMakeFiles/server.dir/cmake_clean.cmake
lab/build/CMakeFiles/server.dir/CXX.includecache
lab/build/CMakeFiles/server.dir/depend.internal
lab/build/CMakeFiles/server.dir/depend.make
lab/build/CMakeFiles/server.dir/DependInfo.cmake
lab/build/CMakeFiles/server.dir/flags.make
lab/build/CMakeFiles/server.dir/link.txt
lab/build/CMakeFiles/server.dir/progress.make
lab/build/CMakeFiles/server.dir/src/server_node.cpp.o
lab/build/CMakeFiles/server_header.dir/build.make
lab/build/CMakeFiles/server_header.dir/cmake_clean_target.cmake
lab/build/CMakeFiles/server_header.dir/cmake_clean.cmake
lab/build/CMakeFiles/server_header.dir/CXX.includecache
lab/build/CMakeFiles/server_header.dir/depend.internal
lab/build/CMakeFiles/server_header.dir/depend.make
lab/build/CMakeFiles/server_header.dir/DependInfo.cmake
lab/build/CMakeFiles/server_header.dir/flags.make
lab/build/CMakeFiles/server_header.dir/link.txt
lab/build/CMakeFiles/server_header.dir/progress.make
lab/build/CMakeFiles/server_header.dir/src/Server.cpp.o
lab/misc/client.cpp
lab/misc/file_transfer.cpp
lab/misc/ftp_client_tcp
lab/misc/ftp_client_tcp.c
lab/misc/ftp_client_udp.c
lab/misc/ftp_server_tcp
lab/misc/ftp_server_tcp.c
lab/misc/ftp_server_udp.c
lab/misc/ftp_transfer.txt
lab/misc/hello
lab/misc/server.c
build/client
build/cmake_install.cmake
build/CMakeCache.txt
build/libclient_header.a
build/libserver_header.a
build/Makefile
build/server
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/client.dir/build.make
build/CMakeFiles/client.dir/cmake_clean.cmake
build/CMakeFiles/client.dir/CXX.includecache
build/CMakeFiles/client.dir/depend.internal
build/CMakeFiles/client.dir/depend.make
build/CMakeFiles/client.dir/DependInfo.cmake
build/CMakeFiles/client.dir/flags.make
build/CMakeFiles/client.dir/link.txt
build/CMakeFiles/client.dir/progress.make
build/CMakeFiles/client.dir/src/client_node.cpp.o
build/CMakeFiles/client_header.dir/build.make
build/CMakeFiles/client_header.dir/cmake_clean_target.cmake
build/CMakeFiles/client_header.dir/cmake_clean.cmake
build/CMakeFiles/client_header.dir/CXX.includecache
build/CMakeFiles/client_header.dir/depend.internal
build/CMakeFiles/client_header.dir/depend.make
build/CMakeFiles/client_header.dir/DependInfo.cmake
build/CMakeFiles/client_header.dir/flags.make
build/CMakeFiles/client_header.dir/link.txt
build/CMakeFiles/client_header.dir/progress.make
build/CMakeFiles/client_header.dir/src/Client.cpp.o
build/CMakeFiles/server.dir/build.make
build/CMakeFiles/server.dir/cmake_clean.cmake
build/CMakeFiles/server.dir/CXX.includecache
build/CMakeFiles/server.dir/depend.internal
build/CMakeFiles/server.dir/depend.make
build/CMakeFiles/server.dir/DependInfo.cmake
build/CMakeFiles/server.dir/flags.make
build/CMakeFiles/server.dir/link.txt
build/CMakeFiles/server.dir/progress.make
build/CMakeFiles/server.dir/src/server_node.cpp.o
build/CMakeFiles/server_header.dir/build.make
build/CMakeFiles/server_header.dir/cmake_clean_target.cmake
build/CMakeFiles/server_header.dir/cmake_clean.cmake
build/CMakeFiles/server_header.dir/CXX.includecache
build/CMakeFiles/server_header.dir/depend.internal
build/CMakeFiles/server_header.dir/depend.make
build/CMakeFiles/server_header.dir/DependInfo.cmake
build/CMakeFiles/server_header.dir/flags.make
build/CMakeFiles/server_header.dir/link.txt
build/CMakeFiles/server_header.dir/progress.make
build/CMakeFiles/server_header.dir/src/Server.cpp.o
misc/client.cpp
misc/file_transfer.cpp
misc/ftp_client_tcp
misc/ftp_client_tcp.c
misc/ftp_client_udp.c
misc/ftp_server_tcp
misc/ftp_server_tcp.c
misc/ftp_server_udp.c
misc/ftp_transfer.txt
misc/hello
misc/server.c
